main {
    display: flex;
    flex-direction: row;
    height: 100vh
}

section {
    flex: 1;
}

.form, .output {
    align-self: center;
}

input[disabled] {
    cursor: no-drop;
}

.disabledLabel {
    font-size: .8em;
    font-style: italic;
    color: #ff5555

}

.response {
    background: #44475a;
    padding: 15px;
    max-height: 80vh;
    overflow: scroll
}

.header {
    display: flex;
    flex-direction: row;
}

.header .status, .header .requestedAt {
    flex: 1;
    align-self: baseline;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header .requestedAt {
    text-align: right;
}

.output {
    height: 100%;
    color: #f8f8f2;
    background-color: #282a36
}

.title {
    display: flex;
    flex-direction: row;
}

.title h2 {
    flex: 1;
    align-self: baseline;
}
.title .social {
    flex: 1;
    text-align: right;
    align-self: center;
}

.copyright {
    text-align: right;
}

.fork-me {
    position: absolute;
    top: 0;
    right: 0;
}